.token-title {
  font-size: 1.125em;
}

.token-textarea {
  resize: none;
  border-radius: 8px;
  padding: 0.8em;
  background: #fff;
  color: #000;
  width: 100%;
  min-height: 10vh;
}

.overlay-buttons .button.is-primary[disabled] {
  background-color: rgba(74, 91, 46, 0.40) !important;
}